
@{
    ViewBag.Title = "Projecttanzania";
}

<h2>Projecttanzania</h2>
<div class="mydiv">




    <div class="container">
        <div class="row">
            <div class="col-md-10">

                <h2>16:9 Responsive Aspect Ratio</h2>
                <div class="embed-responsive embed-responsive-30by30 ">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/GsNEGX7PUOM"></iframe>
                </div>
            </div>
            
        </div>
    </div>
    </div>
